# EDA Aviation Accidents Database

title: NTSB Aviation Data analysis up to 01 Dec 2021

author: Kheirallah Samaha

date uploaded: 10/Jan/2022

In [365]:
#importing libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import csv

### 1. Loading the dataset and getting information

In [366]:
#load data
data=pd.read_csv('C:\\Users\\User\\Downloads\\endphase_data\\AviationData.csv', encoding='ISO-8859-1', engine='python')

In [367]:
#Getting a quick overview of the data
#first 5 rows and columns
data.head(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [368]:
#last 5 rows and columns
data.tail(5)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

Observation : the dataset values are not uniform

In [369]:
#more information on datatypes about the Dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [370]:
data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Columns: 31 entries, Event.Id to Publication.Date
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [371]:
#check data type using dtypes
data.dtypes

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

In [372]:
#checking the shape of the dataset
data.shape
#there as 88889 rows and 31 columns

(88889, 31)

In [373]:
#concise stat
data.describe().T
#but there are missing values

,count,mean,std,min,25%,50%,75%,max
Number.of.Engines,82805.0,1.146585,0.446510,0.0,1.0,1.0,1.0,8.0
Total.Fatal.Injuries,77488.0,0.647855,5.485960,0.0,0.0,0.0,0.0,349.0
Total.Serious.Injuries,76379.0,0.279881,1.544084,0.0,0.0,0.0,0.0,161.0
Total.Minor.Injuries,76956.0,0.357061,2.235625,0.0,0.0,0.0,0.0,380.0
Total.Uninjured,82977.0,5.325440,27.913634,0.0,0.0,1.0,2.0,699.0

In [374]:
#check columns
data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

# 2. Data Cleaning

This step involves dropping columns not necessary in this analysis and cleaning the desired columns and rows

In [375]:
#create a copy of my dataset before performing cleaning which will involve dropping columns and rows
#Create a dataframe copy to be used in data cleaning
df = data.copy(deep = True)

In [376]:
#checking number of missing values
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

In [377]:
df.head(3)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007

In [378]:
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

In [379]:
#dropping unnnecessary columns to the analysis
#dropping columns with more than 50% missing values
#retaining important columns like Aircraft.Category even with 50% missing values
df=data.drop(columns=['Event.Date','Event.Id','Airport.Name','Purpose.of.flight','Airport.Code','Schedule','Investigation.Type','Accident.Number','Latitude','Longitude','Registration.Number','FAR.Description','Air.carrier','Publication.Date'])

In [380]:
#filter the DataFrame to Focus on America 
df=df[df['Country']=='United States']

In [381]:
df.head()

,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status
0,"MOOSE CREEK, ID",United States,Fatal(2),Destroyed,NaN,Stinson,108-3,No,1.0,Reciprocating,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause
1,"BRIDGEPORT, CA",United States,Fatal(4),Destroyed,NaN,Piper,PA24-180,No,1.0,Reciprocating,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause
2,"Saltville, VA",United States,Fatal(3),Destroyed,NaN,Cessna,172M,No,1.0,Reciprocating,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause
3,"EUREKA, CA",United States,Fatal(2),Destroyed,NaN,Rockwell,112,No,1.0,Reciprocating,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause
4,"Canton, OH",United States,Fatal(1),Destroyed,NaN,Cessna,501,No,NaN,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause

In [382]:
#info on modified new DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82248 entries, 0 to 88888
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Location                82237 non-null  object
 1   Country                 82248 non-null  object
 2   Injury.Severity         82140 non-null  object
 3   Aircraft.damage         80269 non-null  object
 4   Aircraft.Category       28154 non-null  object
 5   Make                    82227 non-null  object
 6   Model                   82210 non-null  object
 7   Amateur.Built           82227 non-null  object
 8   Number.of.Engines       80373 non-null  float64
 9   Engine.Type             79206 non-null  object
 10  Total.Fatal.Injuries    71594 non-null  float64
 11  Total.Serious.Injuries  70873 non-null  float64
 12  Total.Minor.Injuries    71519 non-null  float64
 13  Total.Uninjured         77243 non-null  float64
 14  Weather.Condition       81603 non-null  object
 15  Broad.phase.of.flight   61158 non-null  object
 16  Report.Status           79637 non-null  object
dtypes: float64(5), object(12)
memory usage: 11.3+ MB

In [383]:
#Summary statistics
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,80373.000000,71594.000000,70873.000000,71519.000000,77243.000000
mean,1.135481,0.421683,0.257178,0.332974,4.302448
std,0.427286,2.433647,1.144189,1.306604,23.794728
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,265.000000,137.000000,125.000000,699.000000

In [384]:
#Describe categorical features

df.describe(include='object')

,Location,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Engine.Type,Weather.Condition,Broad.phase.of.flight,Report.Status
count,82237,82248,82140,80269,28154,82227,82210,82227,79206,81603,61158,79637
unique,23030,1,56,4,14,8001,11443,2,11,4,12,16974
top,"ANCHORAGE, AK",United States,Non-Fatal,Substantial,Airplane,Cessna,152,No,Reciprocating,VMC,Landing,Probable Cause
freq,434,82248,64870,61675,24229,21573,2323,73906,68507,75317,15365,61189

In [385]:
#check the colunms in new DataFrame
#check the colunms
df.columns

Index(['Location', 'Country', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Make', 'Model', 'Amateur.Built',
       'Number.of.Engines', 'Engine.Type', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status'],
      dtype='object')

In [386]:
#Change columns name to lower case for unifromity
df.columns = df.columns.str.lower()
df.columns

Index(['location', 'country', 'injury.severity', 'aircraft.damage',
       'aircraft.category', 'make', 'model', 'amateur.built',
       'number.of.engines', 'engine.type', 'total.fatal.injuries',
       'total.serious.injuries', 'total.minor.injuries', 'total.uninjured',
       'weather.condition', 'broad.phase.of.flight', 'report.status'],
      dtype='object')

In [387]:

# Replacing dots in column names with underscores
df.columns = [col.replace('.', '_') for col in df.columns]

In [388]:
df.columns

Index(['location', 'country', 'injury_severity', 'aircraft_damage',
       'aircraft_category', 'make', 'model', 'amateur_built',
       'number_of_engines', 'engine_type', 'total_fatal_injuries',
       'total_serious_injuries', 'total_minor_injuries', 'total_uninjured',
       'weather_condition', 'broad_phase_of_flight', 'report_status'],
      dtype='object')

In [389]:
df.shape

(82248, 17)

### 2.2 Checking the missing values and dealing with them

In [390]:
#check the missing values in modified DataFrame
df.isnull().sum()

location                     11
country                       0
injury_severity             108
aircraft_damage            1979
aircraft_category         54094
make                         21
model                        38
amateur_built                21
number_of_engines          1875
engine_type                3042
total_fatal_injuries      10654
total_serious_injuries    11375
total_minor_injuries      10729
total_uninjured            5005
weather_condition           645
broad_phase_of_flight     21090
report_status              2611
dtype: int64

In [391]:
#dropping further columns
df.drop(columns=['total_fatal_injuries','total_serious_injuries','total_minor_injuries','total_uninjured','report_status'],inplace=True)

In [392]:
#Location columns
#imputting 'unknown' as a fized value in the column

df['location'].fillna('unknown',inplace=True)
df['location'].isna().sum() #all null values are removed

C:\Users\User\AppData\Local\Temp\ipykernel_14712\1961790175.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['location'].fillna('unknown',inplace=True)

np.int64(0)

In [393]:
# Ensure the 'injury_severity' column is of type string
df['injury_severity'] = df['injury_severity'].astype(str)

# Now replace all records of Fatal(n) with 'Fatal'
df['injury_severity'] = df['injury_severity'].replace(to_replace=r'Fatal\(\d+\)', value='Fatal', regex=True)

#check to see if Fatal(n) have been changed
df['injury_severity'].head(5)

# Nan values were 108, drop rows with NaN values in 'injury_severity'
df = df.dropna(subset=['injury_severity'])

print(df['injury_severity'].isna().sum())

0

In [394]:
#air_craft damage column
print(df['aircraft_damage'].isna().sum())
# Nan values were 1979, drop rows with NaN values in 'aircraft_damage' as there is no way to validate the rate of damage
df = df.dropna(subset=['aircraft_damage'])
#check again
print(df['aircraft_damage'].isna().sum())

1979
0

In [395]:
#aircraft_category
df['aircraft_category'].isna().sum()
#so many missing values 
df.drop('aircraft_category',axis=1,inplace=True)
#check
df.columns

Index(['location', 'country', 'injury_severity', 'aircraft_damage', 'make',
       'model', 'amateur_built', 'number_of_engines', 'engine_type',
       'weather_condition', 'broad_phase_of_flight'],
      dtype='object')

In [396]:
#use amateur_built to filter out plane,model and built data
df.drop(df[df['amateur_built'] == 'Yes'].index, inplace=True)

#drop the column
df.drop('amateur_built',axis=1,inplace=True)

In [397]:
#make columns
print(df.make.isna().sum())
#2 missing values in a category of planes, drop it affects analysis when make is unknown
df.dropna(subset='make',inplace=True)
#check
print(df['make'].isna().sum())

2
0

In [398]:
print(df['make'].value_counts())
#CESSNA-4227 similar to Cessna only thats in Uppercase
# Convert the 'make' column to lowercase
df['make'] = df['make'].str.lower()
#print the value counts after normalizing the case
print(df['make'].value_counts())
#value of cessna is okay

make
Cessna                        21365
Piper                         11557
CESSNA                         4227
Beech                          4109
PIPER                          2480
                              ...
Piper-aerostar                    1
Scandinavian Aero Industry        1
Zivko Aeronautics Inc.            1
Nord Aviation                     1
ORLICAN S R O                     1
Name: count, Length: 2125, dtype: int64
make
cessna                    25592
piper                     14037
beech                      4991
bell                       2234
mooney                     1277
                          ...
texas helicopter corp.        1
story charles brad            1
sutphin john e                1
knott vernon w                1
orlican s r o                 1
Name: count, Length: 1742, dtype: int64

In [399]:
#model column
print(df.model.isna().sum())
#there are 7 missing values, we will drop them 
#drop the missing model values
df.dropna(subset='model',inplace=True)
#check
print(df.model.isna().sum())

7
0

In [400]:
#number_of_engines column
print(df['number_of_engines'].isna().sum())

1354


### Plan is to leveraging the contextual relationships (no_of_engines,make,model) between features to make informed imputations.

since there are no missing values in the make or model columns

step 1- Extract unique combinations of make and model where number_of_engines is NaN

step 2-Use online querries to find the engines missing as null values

step 3-Automate the online search through a python script

In [401]:
#step 1
new = df[df['number_of_engines'].isna()][['make', 'model']].drop_duplicates()

cessna_engines=new[new['make']=='cessna']
#step 2 
#save the dataframe with unique combinations as a csv
new.to_csv('engine_missing_data.csv',index=False)

#start with cessna, with 73 entries, will scrape wikipedia

In [402]:

#step 3 
# #use libraries like requests and BeautifulSoup can help scrape data

# # Define a function to scrape engine data
# import requests
# from bs4 import BeautifulSoup

# # Scraping function
# import time

# headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}


# import requests
# from bs4 import BeautifulSoup

# headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}

# def scrape_engine_data(make, model):
#     try:
#         # Correct URL formatting
#         search_url = f"https://skybrary.aero/aircraft-types?make={make}&model={model}"
#         response = requests.get(search_url, headers=headers, timeout=25)
#         response.raise_for_status()
        
#         # Parse the HTML content
#         soup = BeautifulSoup(response.content, 'html.parser')

#         # Look for the correct class (Update the class name based on your inspection)
#         engine_data = soup.find('div', class_='engine-info')  # Ensure this class is correct
        
#         if engine_data:
#             return engine_data.text.strip()
#         else:
#             print(f"No engine data found for {make} {model}")
#             return None
#     except Exception as e:
#         print(f"Error fetching data for {make} {model}: {e}")
#         return None




# # Apply the scraping function to the DataFrame
# cessna_engines= cessna_engines.apply(
#     lambda row: print(f"Scraping {row['make']} {row['model']}") or scrape_engine_data(row['make'], row['model']),axis=1)

# # Display the updated DataFrame
# print(new)

In [404]:
cessna_engines=new[new['make']=='cessna']
cessna_engines

         make   model
4      cessna     501
35930  cessna    172Q
36227  cessna     185
36371  cessna  U-206G
36378  cessna   T210N
...       ...     ...
85776  cessna   177RG
86555  cessna     170
86963  cessna    182E
87867  cessna    182A
88564  cessna    C172

[73 rows x 2 columns]

In [ ]:
#engine_type column
#number of missing values
df['engine_type'].isna().sum()

#Plan is to leveraging the contextual relationships (type_engines,make,model) between features to make informed imputations.
# Extract unique combinations of make and model where engine_types is NaN
new_engines = df[df['engine_type'].isna()][['make', 'model']].drop_duplicates()# this data frame contains planes make and models who's engine data is unknown


#step 2 use online querries to find the engines missing as null values
#save the dataframe with unique combinations as a csv
new_engines.to_csv('engine_type_missing.csv',index=False)

In [ ]:
new_engines

                           make      model
4                        cessna        501
3641                  schweizer       1-36
17151                     piper      PA 16
49957                    cessna       172N
50008             schempp-hirth  Discus CS
...                         ...        ...
88854                eurocopter  EC 130 B4
88858                     piper      PA-44
88859  arado-flugzeugwerke gmbh  FW190 A-5
88867        airbus helicopters  EC 130 T2
88869                     piper       PA42

[1318 rows x 2 columns]

In [405]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define headers for the request
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'}

# Harmonized engine type mapping function
def get_engine_type_num(engine_type):
    """
    Map engine type strings to numeric values.
    """
    if 'Single' in engine_type:
        return 1
    elif 'Double' in engine_type:
        return 2
    elif 'Glider' in engine_type:
        return 0
    elif 'Prototype' in engine_type:
        return 3
    else:
        return None  # For unknown or missing types

# Scrape data from Wikipedia
def scrape_cessna_engine_data():
    """
    Scrape the Wikipedia page for Cessna models and engine types.
    """
    url = "https://en.wikipedia.org/wiki/List_of_Cessna_models"
    response = requests.get(url, headers=headers)
    response.raise_for_status()
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Find the table with the data
    table = soup.find('table', {'class': 'wikitable'})
    
    data = []
    rows = table.find_all('tr')  # Extract rows from the table
    
    for row in rows[1:]:  # Skip the header row
        columns = row.find_all('td')
        if len(columns) > 3:  # Ensure enough columns exist
            model_name = columns[0].text.strip()  # First column: Model name
            engine_type = columns[3].text.strip()  # Fourth column: Engine type
            engine_type_num = get_engine_type_num(engine_type)  # Harmonize engine type
            data.append({'Model name': model_name, 'Engine Type': engine_type, 'Number of Engines': engine_type_num})
    
    return pd.DataFrame(data)

# Merge scraped data with the existing DataFrame
def fill_missing_engine_data(df):
    """
    Fill missing engine data in the DataFrame using the scraped data.
    """
    # Scrape the Wikipedia data
    wiki_data = scrape_cessna_engine_data()
    
    # Standardize column names to lower case for easy comparison
    df['model'] = df['model'].str.strip().str.lower()
    wiki_data['Model name'] = wiki_data['Model name'].str.strip().str.lower()
    
    # Merge the two DataFrames on the model name
    merged_df = pd.merge(df, wiki_data, left_on='model', right_on='Model name', how='left')
    
    # Select relevant columns and rename for clarity
    merged_df['number_of_engines'] = merged_df['Number of Engines']
    merged_df = merged_df[['make', 'model', 'number_of_engines']]
    
    return merged_df

# Example usage
# Original DataFrame
df = pd.DataFrame({
    'make': ['cessna', 'cessna', 'cessna'],
    'model': ['501', '172Q', '185']
})

# Fill missing engine data
filled_df = fill_missing_engine_data(df)

# Display the result
print(filled_df)

     make model  number_of_engines
0  cessna   501                NaN
1  cessna  172q                NaN
2  cessna   185                NaN